<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    var sent = 0;
    var clientId = Date.now();
    var ip = "{{ip}}";

    sendUpdate = (pos) => {
        let {latitude, longitude, accuracy} = pos.coords;
        sent = (new Date(pos.timestamp)).toISOString();
        console.log({latitude, longitude, accuracy})
        socket.emit('update', {
            clientId,
            ip,
            geo: {latitude, longitude, accuracy}, 
            timestamp: sent
        });
    }

    updateList = (clients) => {
        document.body.innerHTML = "";
        for (const {clientId, ip, geo, timestamp} of clients) {
            div = document.createElement('div');
            div.innerText = `${JSON.stringify({clientId, ip, geo, time: new Date(timestamp)})}`;
            document.body.appendChild(div);
        }
    }

    socket.on('connect', function() {
        setInterval(()=>{
            console.log('Get Location')
            navigator.geolocation.getCurrentPosition(pos => sendUpdate(pos));
        }, 1000)
    });

    socket.on('roster', function(data) {
        console.log(`Get list of everybody: ${JSON.stringify(data)}`)
        updateList(data.members);
    });
</script>